# CONFIG_PACKAGE_luci-i18n-openvpn-ar is not set
# CONFIG_PACKAGE_luci-i18n-openvpn-bg is not set
# CONFIG_PACKAGE_luci-i18n-openvpn-bn is not set
# CONFIG_PACKAGE_luci-i18n-openvpn-ca is not set
# CONFIG_PACKAGE_luci-i18n-openvpn-cs is not set
# CONFIG_PACKAGE_luci-i18n-openvpn-da is not set
# CONFIG_PACKAGE_luci-i18n-openvpn-de is not set
# CONFIG_PACKAGE_luci-i18n-openvpn-el is not set
# CONFIG_PACKAGE_luci-i18n-openvpn-es is not set
# CONFIG_PACKAGE_luci-i18n-openvpn-fi is not set
# CONFIG_PACKAGE_luci-i18n-openvpn-fr is not set
# CONFIG_PACKAGE_luci-i18n-openvpn-he is not set
# CONFIG_PACKAGE_luci-i18n-openvpn-hi is not set
# CONFIG_PACKAGE_luci-i18n-openvpn-hu is not set
# CONFIG_PACKAGE_luci-i18n-openvpn-it is not set
# CONFIG_PACKAGE_luci-i18n-openvpn-ja is not set
# CONFIG_PACKAGE_luci-i18n-openvpn-ko is not set
# CONFIG_PACKAGE_luci-i18n-openvpn-mr is not set
# CONFIG_PACKAGE_luci-i18n-openvpn-ms is not set
# CONFIG_PACKAGE_luci-i18n-openvpn-no is not set
# CONFIG_PACKAGE_luci-i18n-openvpn-pl is not set
# CONFIG_PACKAGE_luci-i18n-openvpn-pt is not set
# CONFIG_PACKAGE_luci-i18n-openvpn-pt-br is not set
# CONFIG_PACKAGE_luci-i18n-openvpn-ro is not set
# CONFIG_PACKAGE_luci-i18n-openvpn-ru is not set
# CONFIG_PACKAGE_luci-i18n-openvpn-sk is not set
# CONFIG_PACKAGE_luci-i18n-openvpn-sv is not set
# CONFIG_PACKAGE_luci-i18n-openvpn-tr is not set
# CONFIG_PACKAGE_luci-i18n-openvpn-uk is not set
# CONFIG_PACKAGE_luci-i18n-openvpn-vi is not set
CONFIG_PACKAGE_luci-i18n-openvpn-zh-cn=y
# CONFIG_PACKAGE_luci-i18n-openvpn-zh-tw is not set
